/* .navbar-nav a{
    color: #fff !important;
} */

.navbar-nav a:hover{
    background-color: #2a2f39;
}

img{
    width: 60%;
}

.carousel-inner{
    height: 600px;
}

.logo{
    width: 81px!important;

}
.logo:hover{
    cursor: pointer;
}
